{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Tomai</h1>
        </div>

        {% if copies|length > 0 %}
        <p>You have the following jobs set up already</p>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Labels</th>
                <th></th>
            </tr>
            {% for copy in copies %}
                <tr>
                    <td>{{ copy.name }} (<a href="{{ copy.googleGroupUrl }}">view Google group</a>)</td>
                    <td>{{ copy.labelNames|join(', ') }}</td>
                    <td>edit | <a href="{{ path('delete-copy', {'id': copy.id}) }}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            You don't have any email copy jobs set up yet. Add your first one below.
        {% endif %}

        <div class="panel panel-info">
            <div class="panel-heading">Make more email transparent!</div>
            <div class="panel-body">
                <p>Set up a job that'll copy emails from your Gmail account to a Google Group.</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript">
    $('.chosen').chosen({'search_contains': true}).change(function(event, changes) {
        var other_field = 'form_labels';
        if ($(event.target).attr('id') == 'form_labels') {
            other_field = 'form_ignored_labels';
        }

        if (changes.selected) {
            $('#' + other_field + ' option[value="' + changes.selected +'"]').attr('disabled', 'disabled');
        }
        if (changes.unselected) {
            $('#' + other_field + ' option[value="' + changes.unselected +'"]').removeAttr('disabled');
        }
        $('#' + other_field).trigger('chosen:updated');
    });

</script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/vendor/chosen/chosen.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}
